.container {
  display: grid;
  grid-template:
    "class level"
    "subclass buttons";
  row-gap: 5px;
  column-gap: 5px;
  border-left: 5px solid black;
  padding-left: 5px;
  margin-bottom: 10px;

  .class {
    grid-area: class;
    margin: 0;
  }

  .level {
    grid-area: level;
  }

  .subclass {
    grid-area: subclass;
    margin: 0;
  }

  .buttons {
    grid-area: buttons;
  }

  &.Barbarian {
    border-color: var(--barbarian);
  }
  &.Bard {
    border-color: var(--bard);
  }
  &.Cleric {
    border-color: var(--cleric);
  }
  &.Druid {
    border-color: var(--druid);
  }
  &.Fighter {
    border-color: var(--fighter);
  }
  &.Monk {
    border-color: var(--monk);
  }
  &.Paladin {
    border-color: var(--paladin);
  }
  &.Ranger {
    border-color: var(--ranger);
  }
  &.Rogue {
    border-color: var(--rogue);
  }
  &.Sorcerer {
    border-color: var(--sorcerer);
  }
  &.Warlock {
    border-color: var(--warlock);
  }
  &.Wizard {
    border-color: var(--wizard);
  }
}
