main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav {
  padding: 5px;
  border-bottom: 2px solid black;
}

article {
  overflow-y: scroll;
}

form {
  &.disabled {
    background-color: var(--gray-100);
    cursor: progress;

    input,
    select {
      pointer-events: none;
    }
  }
}

.react-aria-Table {
  width: 100%;

  &.error {
    background-color: var(--red-100);
  }

  &.isLoading {
    cursor: progress;
  }
}
